<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/capstone project blog/public/styles/main.css">

<footer class="py-3 border-top" style="background-image: linear-gradient(to right, rgba(255,0,0,0), beige);">
    <p class="text-center text-body-secondary">© Mohak's Project</p>
  </footer>
  